<footer class="footer">
    <div class="container">
        <div class="col-lg-4 wow fadeInUp">
            <div class="title">SOBRE MI</div>
            <div class="content">
                <p>
                    Soy Licenciada en Psicología, recibida en la Universidad Nacional de Córdoba. En consultorio trabajo desde el enfoque de la Psicoterapia Psicoanalítica, realizo procesos psicodiagnósticos y de orientación vocacional. Tengo experiencia trabajando con personas con discapacidad en Centro Educativo Terapéutico, también como acompañante terapéutica e integradora escolar.
                </p>
            </div>
        </div>
        <div class="col-lg-4 wow fadeInUp delay-05s">
            <div class="title">SERVICIOS</div>
            <div class="content">
                <ul>
                    <li><i class="material-icons">check</i> Psicoterapia Psicoanalitica.</li>
                    <li><i class="material-icons">check</i> Psicodiagnosticos.</li>
                    <li><i class="material-icons">check</i> Aptos Psicologicos.</li>
                    <li><i class="material-icons">check</i> Orientación Vocacional.</li>
                    <li><i class="material-icons">check</i> Acompañamiento Terapeutico.</li>
                    <li><i class="material-icons">check</i> Integración Escolar.</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 wow fadeInUp delay-10s">
            <div class="title">CONTACTO</div>
            <div class="content">
                <p><i class="material-icons">place</i>&nbsp;&nbsp;9 de Julio 832, Córdoba Argentina.</p>
                <p><i class="material-icons">phone</i>&nbsp;&nbsp;+54 351 6700 712.</p>
                <p><i class="material-icons">email</i>&nbsp;&nbsp;mvgarciarulli@gmail.com</p>
            </div>
            <div class="content">
                <a href="https://www.facebook.com/profile.php?id=100008190586842" target="_blank">
                    <img src="../../assets/images/social/facebook.png" alt="facebook" width="32" height="32">
                </a>
                <a href="https://www.linkedin.com/in/ma-victoria-garcia-rulli-90301557" target="_blank">
                    <img src="../../assets/images/social/linkedin.png" alt="linkedin" width="32" height="32">
                </a>
            </div>
        </div>
    </div>
</footer>

<div class="bottom-footer">
    <a href="mailto:emilianoverazay@gmail.com">everazay</a> 2018 &copy;
</div>