<div class="container">
    <section class="contact">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contacto</h1>
                <p><i class="material-icons">place</i> 9 de Julio 832, Córdoba Argentina.</p>
                <p><i class="material-icons">phone</i> +54 351 6700 712.</p>
                <p><i class="material-icons">email</i>&nbsp;&nbsp;mvgarciarulli@gmail.com</p>
                <agm-map class="wow fadeIn" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
        </div>
    </section>
</div>