<section class="services container-fluid">
    <div class="parallax">
        <h1>Servicios</h1>
    </div>
    <div class="row featurette featurette-no-background">
        <div class="col-md-7">
            <h2 class="featurette-heading">Psicoterapia<span class="text-muted"> Psicoanalitica.</span></h2>
            <p class="lead wow slideInUp">
                Un paciente se encuentra sujetado a una historia particular, a su incosciente, a deseos de otros, miedos.. a través de la terapia se activa un proceso a través del cual paciente y terapeuta trabajan juntos para desentrañar los misterios que esconde el incosciente, la historia personal de cada uno, los deseos más ocultos con el fin de buscar el alivio sintomático.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../../assets/images/terapia.jpg" alt="Psych">
        </div>
    </div>
    <div class="row featurette featurette-background">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Psicodiagnosticos.
                <span class="text-muted"> Aptos Psicologicos.</span>
            </h2>
            <p class="lead wow fadeInDown">
                Proceso psicodiagnóstico que consiste en una o varias entrevistas y administración de Baterías de Test para la evaluación de la personalidad del consultante. Al final del proceso se realizará la emisión del Apto Psicológico.
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="../../assets/images/tree.png" alt="Tree">
        </div>
    </div>
    <div class="row featurette featurette-no-background">
        <div class="col-md-7">
            <h2 class="featurette-heading">Orientación
                <span class="text-muted"> Vocacional.</span>
            </h2>
            <p class="lead wow slideInUp">
                Orientación psicológica focalizada en el logro de determinados objetivos, siendo fundamental el esclarecimiento de la identidad vocacional. Apunta al autoconocimiento (intereses, capacidades, conflictos, ansiedades, etc.); conocimiento del medio ocupacional y las opciones educacionales. El proceso puede ser individual, grupal o institucional. 
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../../assets/images/vocacional.png" alt="Brain">
        </div>
    </div>
    <div class="row featurette featurette-background">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">
                Acompañamiento
                <span class="text-muted"> Terapeutico.</span>
                Integración
                <span class="text-muted"> Escolar.</span>
            </h2>
            <ul class="lead wow fadeInDown">
                <li>Acompañante terapéutico: El profesional actúa como auxiliar de salud, respondiendo a las necesidades urgentes del paciente y su familia; trabaja con equipo de profesionales y el proceso se lleva a cabo en diferentes ámbitos (hogar, escuela, instituciones, etc) según se requiera.</li>
                <li>Integración escolar: contribuye en el mejoramiento continuo de la calidad de la educación, favoreciendo la socialización y el logro de los aprendizajes, especialmente de aquellos que presenten una necesidad educativa especial.</li>                
            </ul>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="../../assets/images/acompanamiento.jpg" alt="psych">
        </div>
    </div>
</section>