.btn-primary {
    background-color: #4d4d4d;
    border-color: #cccccc;
    text-shadow: 1px solid #4d4d4d;
    transition: all 1s ease;
}

.btn-primary:hover  {
    background-color: #97CFD0;
    border-color: #4d4d4d;
    color: black;
}

body {
    position: relative;
}

.bodyPadding {
    padding-top: 100px;
}

.bodyNoPadding {
    padding-top: 0px;
}